/* ===== GALLERY ===== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  padding: 20px;
}

.item {
  background: #5F9EA0;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.04);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block; /* HUONDOA WEUPE */
}

.item p {
  margin: 0;
  padding: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

/* MOBILE */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
